hide {
    display: none;
}

car {
    background: url("../images/enemycar4.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 70px;
    width: 50px;
    position: absolute;
    top: 500px;
    left: 100px;
}

gamearea {
    margin: auto;
    width: 405px;
    height: 100vh;
    background-color: #393737;
    position: relative;
    border-left: 5px dashed white;
    border-right: 5px dashed white;
}

roadstrip {
    height: 85px;
    width: 6px;
    background-color: aliceblue;
    position: absolute;
    left: 197px;
}

enemy {
    height: 70px;
    width: 50px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 400px;
}

body {
    overflow: hidden;
    width: 100%;
    height: 97vh;
    background: url("../images/maincar.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* above statement is to hide both vertical and horizantal scrollbar */
}

startscreen {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    height: 65px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 220px;
    background-color: #212324;
    color: white;
    border-radius: 20px;
    padding-top: 11px;
    font-size: 33px;
    box-shadow: 0px 6px 10px #c35357;
    position: relative;
    top: 200px;
    cursor: pointer;
}

score {
    height: 44px;
    width: 135px;
    background-color: rgb(69, 69, 78);
    color: white;
    font-size: 30px;
    padding-top: 4px;
    padding-left: 8px;
    position: absolute;
    border: 2px solid white;
    border-radius: 11px;
    box-shadow: 0 5px 5px red;
}
